td{
    width:20px;
    height:20px;
    border:1px solid black;
}
td[hb-nms-cover-value='-']{
    background-color: gray;
}
td[hb-nms-cover-value='*']{
    background-color:red;
}
td[hb-nms-cover-value='.']{
    background-color: rgb(160,240,60);
}
td[hb-nms-cover-value='1']{
    background-color: rgb(207, 240, 60);
}
td[hb-nms-cover-value='2']{
    background-color: rgb(240, 222, 60);
}
td[hb-nms-cover-value='3']{
    background-color: rgb(240, 162, 60);
}
td[hb-nms-cover-value='4']{
    background-color: rgb(240, 111, 60);
}
td[hb-nms-cover-value='5']{
    background-color: rgb(240, 111, 60);
}
td[hb-nms-cover-value='6']{
    background-color: rgb(255, 125, 85);
}
td[hb-nms-cover-value='7']{
    background-color: rgb(255, 92, 64);
}
td[hb-nms-cover-value='8']{
    background-color: rgb(255, 41, 13);
}
td[hb-nms-cover-value='F']{
    background-color: rgb(10, 41, 230);
}